.cont2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .conatiner {
        background-color: pink;
        width: 8rem;

        .content {}
    }
}